body{
    background-color: rgb(15, 196, 241);
    
}

/* 2nd works 2nd example css */
/* #images{
  height: 400px;
  width: 600px;
} */



/* 3rd work  bouth example css */
/* .img{
    height: 300px;
  width: 500px;
} */
